@model List<UserModel>
@{
    ViewData["Title"] = " Usuarios";
}
<div class="card">
    <div class="card-header">
        Usuarios
    </div>
    <div class="card-body">

        <a asp-action="UserAdd" asp-controller="User" class="btn btn-success btn-sm">Agregar Nuevo Usuario</a>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Direccion</th>
                    <th>Correo</th>
                    <th>Celular</th>
                    <th>Rol</th>
                    <th>Fecha de Creacion</th>
                    <th>Usuario Creador</th>
                    <th>Fecha de Modificacion</th>
                    <th>Usuario Modificador</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.usrId</td>
                        <td>@item.usrName</td>
                        <td>@item.usrLastName</td>
                        <td>@item.usrAddres</td>
                        <td>@item.usrEmail</td>
                        <td>@item.usrCelPhone</td>
                        <td>@item.rolId</td>
                        <td>@item.createDate</td>
                        <td>@item.createUser</td>
                        <td>@item.modifyDate</td>
                        <td>@item.modifyUser</td>
                        <td>
                            <a asp-action="UserUp" asp-controller="User" class="btn btn-primary btn-sm" asp-route-usrId="@item.usrId">Editar</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
                <a asp-action="BillList" asp-controller="Bill" class="btn btn-warning btn-sm">Actualizar</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="TransactionList" asp-controller="Transaction" class="btn btn-warning btn-sm">Pagos</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="UserList" asp-controller="User" class="btn btn-warning btn-sm">Usuarios</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="DocumentList" asp-controller="Document" class="btn btn-warning btn-sm">Documentos</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="EnterpriseList" asp-controller="Enterprise" class="btn btn-warning btn-sm">Empresas</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="EnterpriseTypeList" asp-controller="EnterpriseType" class="btn btn-warning btn-sm">Tipo de Empresa</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="RolList" asp-controller="Rol" class="btn btn-warning btn-sm">Roles</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="StateList" asp-controller="State" class="btn btn-warning btn-sm">Estados</a>


            </tbody>
        </table>
    </div>

</div>